@import './variables.scss';
@import './containers/EvictionRights.scss';
@import './containers/Main.scss';
@import './containers/TellUsMore.scss';

html, body {
  height: 100%;
  margin: 0;
  pointer-events: none;
}

#root {
  height: 100%;
  pointer-events: none;
}

.App {
  height: 100%;
  pointer-events: none;
  header, nav, div {
    pointer-events: all;
  }
  .nav-brand {
    display: flex;
    align-items: center;
    .housing-image {
      width: 45px;
      height: 45px;
      margin-right: $spacing-sm;
    }
  }
  .handwritten-text {
    font-family: $main-font;
    font-weight: bold;
  }

  #sticky-footer {
  }
  
}

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";