@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Source+Sans+Pro:400,600&display=swap');

/** Fonts */
$main-font: 'Source Sans Pro';
$marker-font: 'Permanent Marker';

/** Spacing */
$spacing-sm: 6px;
$spacing-default: 12px;
$spacing-md: 18px;
$spacing-lg: 24px;
$spacing-xl: 36px;
$spacing-xxl: 48px;
$spacing-xxxl: 60px;

h1 {
    font-family: $main-font;
    font-weight: bold;
}

h2, h3, h4, h5, h6, p, div, ul, li  {
    font-family: $main-font;
}

/** Colors */
$dsa-red: #EC1F27;
$dsa-black: #231F20;


// Bootstrap variable overrides
$font-family-sans-serif: $main-font, serif ;
$theme-colors: (
    primary:   $dsa-black,
    secondary: $dsa-red,
);